<div class="container" data-poem="{{id}}">
  <div class="row">
    <div class="col-sm-5 poem-title align-items-start">
      <h1 class="poemTitle">{{title}}</h1>
    </div>
    <div class="col-sm-5 poem-author align-bottom justify-content-center">
        <h3 class="poemAuthor">{{author}}</h3>
    </div>
    <div class="col poem-rating align-items-end align-self-end justify-content-end">
        <div class="form-check form-check-inline float-right">
        <input class="form-check-input position-static" type="radio" name="blankRadio" id="rate1" value="1" aria-label="Rate this poem 1 star">
        </div>
        <div class="form-check form-check-inline float-right">
        <input class="form-check-input position-static" type="radio" name="blankRadio" id="rate2" value="2" aria-label="Rate this poem 2 stars">
        </div>
        <div class="form-check form-check-inline float-right">
        <input class="form-check-input position-static" type="radio" name="blankRadio" id="rate3" value="3" aria-label="Rate this poem 3 stars">
        </div>
        <div class="form-check form-check-inline float-right">
        <input class="form-check-input position-static" type="radio" name="blankRadio" id="rate4" value="4" aria-label="Rate this poem 4 stars">
        </div>
        <div class="form-check form-check-inline float-right">
        <input class="form-check-input position-static" type="radio" name="blankRadio" id="rate5" value="5" aria-label="Rate this poem 5 stars">
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-7 poem-body">
          <p>{{body}}</p>
      </div>
      <div class="col-sm-5 poem-notes">
        {{#each comments}}
            {{#if is_private}}
            {{>poem/notes-poemblock}}
            {{/if}}
        {{/each}}
      </div>
  </div>
  <div class="form-row">
      <form>
        <div class="form-group">
            <label for="newCommentTitle">Title</label>
            <input type="input" class="form-control" id="newCommentTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="newCommentBody">Comment Body</label>
            <textarea class="form-control" id="newCommentBody" rows="5"></textarea>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isPrivateCheck" value="isPrivate">
            <label class="form-check-label" for="inlineCheckbox3">Make this a Private Personal Note for this Poem</label>
        </div>
        <button type="submit" class="btn btn-primary submit" id="comment-submit">Submit</button>
        </form>
    </div>
  <div class="row">
    <div class="col-sm-8 comments">
      {{#each comments}}
        {{#unless is_private}}
        {{>poem/comments-poemblock}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        let poemTitle = $("#poemTitle").text();
        let poemAuthor = $("#poemAuthor").text();
        $(document).on("click", ".submit", function(){
            let newComment = {
                title: $("#commentTitle").val().trim(),
                body: $("#commentBody").val().trim(),
                isPrivate: $("#commentPrivate").val().trim(),
                poemID: $(".container").attr("data-poem"),
            };
            console.log(newComment);
            $.ajax({
                url: "/api/comments",
                method: "POST",
                data: newComment
            }).then(result=>{
                console.log(result);
            })
        });
        $(document).on("click", ".rate", function(event){
            let rating ={
                PoemId: $(".container").attr("data-poem"),
                rating: $(this).val()
            }
            $.ajax({
                url: "/api/ratings",
                method: "PUT",
                data: rating
            }).then(result=>{
                console.log(result);
            });
        })
    });
</script>