<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{user.username}}'s Poem Corner</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 favorites">
      {{#each favorites}}
        {{>user/favorites-userblock}}
      {{/each}}
    </div>
    <div class="col-sm-6 comments">
      {{#each comments}}
        {{>user/comments-userblock}}
      {{/each}}
    </div>
  </div>
</div>
